main {
  display: block;
  max-width: 1920px;
  min-width: 308px;
  min-height: 100vh;
  padding-top: 40px;
  background-image: url(../img/bgimage.jpg);
  background-position: center top;
  background-repeat: no-repeat;
}
