/*colors*/
$bg-color: #0d1e27;
$border-color-dark: #2b3c45;
$border-color-light: #92e8fe;
$fore-color-main: #fff;
$fore-color-main2: rgba($fore-color-main, 0.7);
$ethereum-color: #12472f;
$ethereum-back-color: #000300;
$change-value-color-ok: #15c536;
$change-value-color-danger: #e9051f;
$switch-on-color: #00b7f4;
$switch-off-color: #c0c0c0;
$switch-on-shadow-color: #067397;
$switch-off-shadow-color: #747b7e;
$bitcoin-glow-color: #fff6b4;

/*fonts*/
$ff-main-bold: "Roboto Bold", sans-serif;
$ff-main-medium: "Roboto Medium", sans-serif;
$ff-main-light: "Roboto Light", sans-serif;
$ff-alt: Tahoma, sans-serif;
