 {{#each this}}
<div class="gallery__item favs__item js-favs-item">
  <button class="btn btn--tool btn--fav-close js-fav-remove">&#9932;</button>
  <img class="js-gallery-item" src="{{src}}" alt="{{alt}}" data-id="{{id}}" data-view="{{view}}">
</div>
{{/each}}