<div class="img-viewport">
  <img class="js-view" src="{{src}}" alt="{{alt}}" data-id="{{id}}" data-view="{{view}}">
</div>
<div class="img-toolbar">
  <div class="img-tools js-tools">
    <div class="img-tool-nav">
      <button class="btn btn--tool btn--prev js-prev">&#9013;</button>
      <button class="btn btn--tool btn--next js-next">&#9013;</button>
    </div>
    <button class="btn btn--tool btn--save js-tool js-save">&#9733;</button>
    <button class="btn btn--tool btn--close js-tool js-close">&#9932;</button>
  </div>
</div>