.data{
  max-width: 210px;
  margin-top: $body-padding;
  margin-left: auto;
  margin-right: auto;
}

.gallery{
  @extend %gallery;

  &__item{
    @extend %gallery__item;
  }

  &__item:hover{
    position: relative;
    z-index: 2;
    transform: scale(1.1);
    box-shadow: 0 0 30px 10px white;
    transition: all .3s;
  }
}