@media screen and (min-width: 480px){
  .menu{
    right: $body-padding;
  }

  .data{
    min-width: 27.25rem;
    max-width: 27.25rem;
  }

  .gallery{
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    &__item{
      &:nth-child(odd){
        margin-right: 1rem;
      }
    }
  }

  .favs__caption{
    text-align: left;
  }
}