/*colors*/
$color-query-border: #afb0b3;
$color-fav: #cddc39;
$color-alt: #fff;
$color-placeholder: #d1d3d4;
$color-tool: #673ab7;

/*fonts*/
$font-main: Roboto, sans-serif;
$font-alt: Comfortaa, Roboto, sans-serif;

/*misc*/
$body-padding: 2rem;